<div data-component="models_rows_edit_column"
     data-columnName="{{ name }}"
     data-type="{{ type }}">

  {{#xif type '===' 'string'}}
  <label>
    <p>{{ ../displayName }}</p>
    <input type="text" name="{{ ../name }}" value="{{ at ../name ../row }}">
  </label>
  {{/xif}}

  {{#xif type '===' 'file'}}
  {{#if ( at ../name ../row ) }}
  <div class="row">
    <a target="_blank" href="{{ hciRootUrl (at ../name ../row) }}">
      {{~ hciRootUrl ( at ../name ../row ) ~}}
    </a>
  </div>
  {{/if}}

  <div class="row">
    <input type="file" name="{{ ../name }}">
  </div>

  <div class="row">
    <label>
      <div>
        <input type="checkbox" checked>
        <span>Use default directory</span>
      </div>
    </label>
    <label>
      <div class="row directory-wrapper">
        <span class="hci-uploads-url">{{ hciUploadsUrl "/" }}</span>
        <input type="text" disabled class="directory"
               placeholder="path/to/file"
               value="{{ ../defaultDirectory }}">
      </div>
    </label>
  </div>
  {{/xif}}
</div>
